<% layout("layouts/boilerplate") %>
    <%- include("../partials/navbar") %>

        <div class="row">
            <div class="col-6 mx-auto">

                <form action="/products" method="POST">
                    <div>
                        <label for="name"> Name:</label>
                        <input class="form-control mb-3" type="text" name="name" id="name"
                            placeholder="Enter name of product">
                    </div>

                    <div>
                        <label for="img"> Image:</label>
                        <input class="form-control mb-3" type="text" name="img" id="img" placeholder="Enter image">
                    </div>

                    <div>
                        <label for="price"> Price:</label>
                        <input class="form-control mb-3" type="number" name="price" id="price" placeholder="Enter price">
                    </div>

                    <div>
                        <label for="desc"> Description</label>
                        <textarea class="form-control mb-3" name="desc" id="desc" id="desc" rows="5"
                            placeholder="Description of product"></textarea>
                    </div>


                    <button class="btn btn-sm btn-success" type="submit">Add product</button>
                </form>
            </div>
        </div>